.form-group{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    background-color: #FFFFFF;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px;
    border-radius: 15px;
    box-shadow: 8px 7px 5px 0px #DDDCDC;
    

}
.form-item{
    
    
}
.input-title{
    margin: 0px;
    padding-left: 5px;
    color: #323232;
    font-weight: 600;
}
.form-input {
    border-color: #D9D9D9;
    border-radius: 8px;
    height: 48px;
    width: 460px;
}

.input-icon{
    font-size: 16px;
    margin-right: 10px;
}
.form-button{
    height: 50px;
    width: 460px;
    border-radius: 10px;
    font-size: 16px;
}