@import '~antd/dist/antd.css';
.body{
  padding: 15px;
  background-color: #F2F2F2;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 7px;
  border: 1px solid;
  border-color: rgba(233, 233, 233, 0.3);
  border-radius: 20px;

}
::-webkit-scrollbar-track {
  background: rgb(182, 182, 182,0.3);
  border-radius: 20px;

}
::-webkit-scrollbar-thumb {
    
  background: rgb(136, 136, 136,0.4);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(136, 136, 136);
}

